#navbar{
    position: fixed;
    display:flex;
    background-color:#FFF;
    height: 800px;
  flex-direction: column;
  /*  border-bottom: 3px solid; */
  
  }
  ul{
    list-style: none;
  }
  
  a{
    text-decoration:none;
    color: #000;
    justify-content: space-around;
    border-bottom: 3px solid;
  }
  .nav-link{
  }
  .main-section{
    margin-left:13.7em;
    }
  @media and screen(max-width:750px){
    di.main-body{
      grid-template-columns:1fr;
      grid-template-areas:"navbar" "maincontent";
    }
  
  #navbar{
    position: fixed;
    }
  }
